{% extends '_base.html.twig' %}

{% block pageTitle %}List Page {% endblock %}

{% block main %}
    <h1>Welcome to the Karate Dojo HomePage</h1>
<br>
    <a href = "/list">List all great books</a><br>
    <a href = "/listModel">list here</a><br>
    <a href="/index.php?action=doubleIMMCredits">Double IMM module credits</a><br>

    <a href="/studentList">student List</a><br>

    <a href = "/login">Login as admin</a>

{% endblock %}